<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Жеребьевка</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="shortcut icon" href="../favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div id="wrapper">

    <!-- ХЕДЕР С ЛОГОТИПОМ -->
    <div id="header">
        <a href="/" title="Главная">
            <center><img src="/img/logo.png"></center>
        </a>
    </div>

    <div id="container">

        <p th:text="Жеребьевка"></p>

        <p>Кол-во:
            <span th:text="${subdivisions.size()}"> </span>
        </p>

        <table th:border="1">
            <thead>
            <tr>
                <th>Команда</th>
                <th>Капитан</th>
                <th>Телефон</th>
                <th>№</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${subdivisions.isEmpty()}">
                <td colspan="2"> Подразделения отсутсвуют</td>
            </tr>
            <tr th:each="subdivision : ${subdivisions} ">
                <td><span th:text="${subdivision.name}"></span></td>
                <td><span th:text="${subdivision.captain}"></span></td>
                <td><span th:text="${subdivision.phone}"></span></td>
                <td><span th:text="${subdivision.number}"></span></td>
                <td><a class="btn btn-primary" th:href="@{/subdivisions/edit/{id}(id=${subdivision.id})}">Update</a>
                <td><a class="btn btn-primary" th:href="@{/subdivisions/delete/{id}(id=${subdivision.id})}">delete</a>
            </tr>
            </tbody>
        </table>

        <a class="btn" th:href="@{/subdivisions/create}" th:method="post">Добавить подразделение</a>

        </center>
        <a th:href="@{/}">
            <button type="button">На главную</button>
        </a>
        </center>

    </div>

    <div id="footer">
        <center>Deep forest run. Сервис жеребьевки, определения результатов и победителей. 2021 Все права защищены.</center>
    </div>

</div>

</body>
</html>