<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Стартовый протокол участников</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="shortcut icon" href="../favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div id="wrapper">

    <div id="header">
        <a href="/" title="Главная">
            <center><img src="/img/logo.png"></center>
        </a>
    </div>

    <div id="container">
        <center>
            <p>
            <h2>Стартовый протокол Группа М</h2></p>
        </center>

        <p>Кол-во:
            <span th:text="${mRunners.size()}"> </span>
        </p>

        <table th:border="1">
            <thead>
            <tr>
                <th>Подразделение</th>
                <th>!</th>
                <th>ФИО</th>
                <th>Номер (нагрудный)</th>
                <th>Старт</th>
                <th>Финиш</th>
                <th>Итоговое время</th>
                <th>Не найдено КП</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${mRunners.isEmpty()}">
                <td colspan="2">Список участников спортивного ориентирования не сформирован</td>
            </tr>

            <tr th:each="runner : ${mRunners} ">

                <td><span th:text="${runner.subdivision}"></span></td>
                <td><span th:if="${runner.kp}">#</span></td>

                <td><span th:text="${runner.participant}"></span></td>
                <td>
                    <form action="#" th:action="@{/runner/number/{id}(id=${runner.id})}" method="post">
                        <input type="number" th:value="${runner.number}" name="number"/>
                    </form>
                </td>

                <td><input type="time" th:disabled="true" th:value="${runner.start}" step="1"/></td>

                <td>
                    <form action="#" th:action="@{/runner/finish/{id}(id=${runner.id})}" method="post">
                        <input type="time" th:value="${runner.finish}" name="finish" step="1"/>
                        <input th:hidden="true" type="submit"/>
                    </form>
                </td>

                <td><input type="time" th:disabled="true" th:value="${runner.total}" step="1"/></td>

                <td>
                    <form action="#" th:action="@{/runner/kp/{id}(id=${runner.id})}" method="post">
                        <input type="number" th:value="${runner.kp}" name="kp"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <center>
            <p>
            <h2>Стартовый протокол Группа Ж</h2></p>
        </center>

        <p>Кол-во:
            <span th:text="${fRunners.size()}"> </span>
        </p>

        <table th:border="1">
            <thead>
            <tr>
                <th>Подразделение</th>
                <th>!</th>
                <th>ФИО</th>
                <th>Номер (нагрудный)</th>
                <th>Старт</th>
                <th>Финиш</th>
                <th>Итоговое время</th>
                <th>Не найдено КП</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${mRunners.isEmpty()}">
                <td colspan="2">Список участников спортивного ориентирования не сформирован</td>
            </tr>

            <tr th:each="runner : ${fRunners} ">

                <td><span th:text="${runner.subdivision}"></span></td>
                <td><span th:if="${runner.kp}">#</span></td>
                <td><span th:text="${runner.participant}"></span></td>
                <td>
                    <form action="#" th:action="@{/runner/number/{id}(id=${runner.id})}" method="post">
                        <input type="number" th:value="${runner.number}" name="number"/>
                    </form>
                </td>
                <td><input type="time" th:disabled="true" th:value="${runner.start}" step="1"/></td>
                <td>
                    <form action="#" th:action="@{/runner/finish/{id}(id=${runner.id})}" method="post">
                        <input type="time" th:value="${runner.finish}" name="finish" step="1"/>
                        <input th:hidden="true" type="submit"/>
                    </form>
                </td>
                <td><input type="time" th:disabled="true" th:value="${runner.total}" step="1"/></td>
                <td>
                    <form action="#" th:action="@{/runner/kp/{id}(id=${runner.id})}" method="post">
                        <input type="number" th:value="${runner.kp}" name="kp"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <p>Всего участников :
            <span th:text="${fRunners.size()} + ${mRunners.size()}"> </span>
        </p>

        <left>
            <a th:href="@{/}">
                <button type="button">На главную</button>
            </a>
        </left>
    </div>

    <div id="footer">
        <center>Deep forest run. Сервис жеребьевки, определения результатов и победителей. 2021 Все права защищены.</center>
    </div>

</div>

</body>
</html>