<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование Подразделения</title>
</head>
<body>
<form action="#" th:action="@{/subdivision/edit/{id}(id=${subdivision.id})}" th:object="${subdivision}" method="post">
    <table border="1">
        <tr>
            <td><label th:text="${msg.name}"></label></td>
            <td><input type="text" th:field="${subdivision.name}"/></td>
        </tr>
        <tr>
            <td><label th:text="${msg.number}"></label></td>
            <td><input type="number" th:field="${subdivision.number}"/></td>
        </tr>
        <tr>
            <td><label th:text="${msg.captain}"></label></td>
            <td><input type="text" th:field="${subdivision.captain}"/></td>
        </tr>
        <tr>
            <td><label th:text="${msg.phone}"></label></td>
            <td><input type="text" th:field="${subdivision.phone}"/></td>
        </tr>
    </table>
    <input type="submit" value="Изменить"/>
</form>

</center>
<a th:href="@{/subdivision/list}">
    <button type="button">Назад</button>
</a>
</center>


</body>
</html>