<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Удаление Участника</title>
</head>
<body>
<form action="#" th:action="@{/participant/delete/{id}(id=${participant.id})}" th:object="${participant}" method="post">
    <p>Выбранный участник и его данные по всем дисциплинам будут удалены из системы</p>

    <table border="1" th:with="subdivision=${subdivisionMap.get(participant.subdivisionId)}">
        <tr>
            <th th:text="${msg.subdivision}"></th>
            <td>
                <span th:if="${subdivision}" th:text="${subdivision.name}"></span>
            </td>
        </tr>
        <tr>
            <th th:text="${msg.fio}"></th>
            <td><span th:text="*{fio}"></span></td>
        </tr>
        <tr>
            <th th:text="${msg.gender}"></th>
            <td><span th:text="${T(com.factory.deepforestrunner.common.Gender).valueOf(participant.gender).rus}"></span></td>
        </tr>
        <tr>
            <th th:text="${msg.number}"></th>
            <td><span th:if="${subdivision}" th:text="${subdivision.number}"></span></td>
        </tr>
        <tr>
            <th th:text="${msg.birthday}"></th>
            <td><span th:text="*{birthday}"></span></td>
        </tr>
    </table>
    <input type="submit" value="Удалить"/>
</form>

</center>
<a th:href="@{/participant/list}">
    <button type="button">Назад</button>
</a>
</center>
</body>
</html>