<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование Подразделения</title>
</head>
<body>
<form action="#" th:action="@{/participant/edit/{id}(id=${participant.id})}" th:object="${participant}" method="post">
    <table border="1" th:with="subdivision=${subdivisionMap.get(participant.subdivisionId)}">
        <tr>
            <th th:text="${msg.subdivision}"></th>
            <!--            <td><input type="text" th:field="${participant.subdivisionId}"/></td>-->
            <td>
                <select id="percentage" name="percentage">
                    <option th:each="i : ${subdivisionMap.values()}" th:value="${id}" th:text="${id}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <th th:text="${msg.fio}"></th>
            <td><input type="text" th:field="${participant.fio}"/></td>
        </tr>
        <tr>
            <th th:text="${msg.gender}"></th>
            <td><input type="text" th:field="${participant.gender}"/></td>
        </tr>
        <tr>
            <th th:text="${msg.number}"></th>
            <td><input disabled type="number" th:text="${subdivision.number}"/></td>
        </tr>
        <tr>
            <th th:text="${msg.birthday}"></th>
            <td><input type="text" th:field="${participant.birthday}"/></td>
        </tr>
    </table>
    <input type="submit" value="Изменить"/>
</form>

</center>
<a th:href="@{/}">
    <button type="button">На главную</button>
</a>
</center>


</body>
</html>