<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование Участников</title>
</head>
<body>
<form action="#" th:action="@{/participant/edit/{id}(id=${participant.id})}" th:object="${participant}" method="post">

    <table border="1" th:with="subdivision=${subdivisionMap.get(participant.subdivisionId)}">
        <tr>
            <th th:text="${msg.subdivision}"></th>
            <td>
                <select onchange="changeSubdivision(this.value)" th:field="*{subdivisionId}">
                    <option value=""> --</option>
                    <option th:each="subd : ${subdivisionMap.values()}"
                            th:value="${subd.id}"
                            th:text="${subd.name}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <th th:text="${msg.fio}"></th>
            <td><input type="text" th:field="*{fio}"/></td>
        </tr>
        <tr>
            <th th:text="${msg.gender}"></th>
            <td>
                <select th:field="*{gender}">
                    <option th:each="gen : ${T(com.factory.deepforestrunner.common.Gender).values()}"
                            th:value="${gen.name}"
                            th:text="${gen.rus}">
                    </option>
                </select>

            </td>
        </tr>
        <tr>
            <th th:text="${msg.number}"></th>
            <td><input id="subId" disabled type="number" th:field="*{subdivisionId}"/></td>
        </tr>
        <tr>
            <th th:text="${msg.birthday}"></th>
            <td><input type="date" th:field="*{birthday}"/></td>
        </tr>
    </table>
    <input type="submit" value="Изменить"/>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var myVariable = /*[[${subdivisionMap}]]*/ {};

        var changeSubdivision = function (id) {
            document.getElementById("subId").value = myVariable[id].number;
        }

        /*]]>*/
    </script>
</form>

</center>
<a th:href="@{/participant/list}">
    <button type="button">Назад</button>
</a>
</center>


</body>
</html>