<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="shortcut icon" href="../favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>


<div id="wrapper">

    <!-- ХЕДЕР С ЛОГОТИПОМ -->
    <div id="header">
        <a href="/" title="Главная">
            <center><img src="/img/logo.png"></center>
        </a>
    </div>

    <div id="container">
        <left>
            <p>Список</p>

            <p>Кол-во:
                <span th:text="${participants.size()}"> </span>
            </p>
        </left>

        <table th:border="1">
            <thead>
            <tr>
                <th th:text="${msg.subdivision}"></th>
                <th th:text="${msg.fio}"></th>
                <th th:text="${msg.gender}"></th>
                <th th:text="${msg.number}"></th>
                <th th:text="${msg.birthday}"></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${participants.isEmpty()}">
                <td colspan="2">Участники отсутсвуют</td>
            </tr>
            <tr th:with="subdivision=${subdivisionMap.get(participant.subdivisionId)}" th:each="participant : ${participants} ">
                <td><span th:if="${subdivision}" th:text="${subdivision.name}"></span></td>
                <td><span th:text="${participant.fio}"></span></td>
                <td><span th:text="${T(com.factory.deepforestrunner.common.Gender).valueOf(participant.gender).rus}"></span></td>
                <td><span th:if="${subdivision}" th:text="${subdivision.number}"></span></td>
                <td><span th:text="${participant.birthday}"></span></td>
                <td><a class="btn btn-primary" th:href="@{/participant/edit/{id}(id=${participant.id})}">Update</a>
                <td><a class="btn btn-primary" th:href="@{/participant/delete/{id}(id=${participant.id})}">delete</a>
            </tr>
            </tbody>
        </table>

        <a class="btn" th:href="@{/participant/create}" th:method="post">Добавить Участника</a>

        <center>
            <a th:href="@{/}">
                <button type="button">На главную</button>
            </a>
        </center>

    </div>

    <div id="footer">
        <center>Deep forest run. Сервис жеребьевки, определения результатов и победителей. 2021 Все права защищены.</center>
    </div>

</div>

</body>
</html>