<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="Жеребьевка"></p>

<p>Кол-во:
    <span th:text="${subdivisions.size()}"> </span>
</p>

<table th:border="1">
    <thead>
    <tr>
        <th>Команда</th>
        <th>Капитан</th>
        <th>Телефон</th>
        <th>№</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${subdivisions.isEmpty()}">
        <td colspan="2"> Организации отсутсвуют</td>
    </tr>
    <tr th:each="subdivision : ${subdivisions} ">
        <td><span th:text="${subdivision.name}"></span></td>
        <td><span th:text="${subdivision.captain}"></span></td>
        <td><span th:text="${subdivision.phone}"></span></td>
        <td><span th:text="${subdivision.number}"></span></td>
    </tr>
    </tbody>
</table>


<a th:href="@{/}">
    <button type="button">На главную</button>
</a>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Загрузить данные из файла</h2>
                <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary">Загрузить</button>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>