<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Жеребьевка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="Файлы"></p>


<a th:href="@{/}">
    <button type="button">На главную</button>
</a>

<p th:text="${file.name}"></p>
<p th:text="${file.created}"></p>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Загрузить данные из файла</h2>
                <form method="post" th:action="@{/file}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary">Загрузить</button>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>