<!DOCTYPE HTML>
<html>
<head>
    <title>Главная</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="shortcut icon" href="favicon.ico">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div id="wrapper">
    <!-- ХЕДЕР С ЛОГОТИПОМ -->
    <div id="header">
        <a href="/" title="Главная">
            <center><img src="/img/logo.png"></center>
        </a>
    </div>

    <div id="container">
        <center>
            <p>
                <a th:href="@{/subdivision/list}">
                    <button type="button">Жеребьевка</button>
                </a>
            </p>
            <p>
                <a th:href="@{/participant/list}">
                    <button type="button">Список участников</button>
                </a>
            </p>
            <p>
                <a th:href="@{/runner/list}">
                    <button type="button">Стартовый протокол</button>
                </a>
            </p>
            <p>
                <a th:href="@{/summary/list}">
                    <button type="button">Сводная</button>
                </a>
            </p>
            <p>
                <a th:href="@{/file}">
                    <button type="button">Файлы</button>
                </a>
            </p>
        </center>
    </div>

    <div id="footer">
        <center>Deep forest run. Сервис жеребьевки, определения результатов и победителей. 2021 Все права защищены.</center>
    </div>

</div>

</body>
</html>