<!DOCTYPE HTML>
<html>
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<a th:href="@{/subdivisions}">
    <button type="button">Жеребьевка</button>
</a>
<a th:href="@{/participant}">
    <button type="button">Список участников</button>
</a>

<a th:href="@{/runner}">
    <button type="button">Стартовый протокол</button>
</a>

<button>Сводная</button>

<a th:href="@{/file}">
    <button type="button">Файлы</button>
</a>

</body>
</html>