<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="Жеребьевка"></p>

<p>Кол-во:
    <span th:text="${organizations.size()}"> </span>
</p>

<table th:border="1">
    <thead>
    <tr>
        <th>Команда</th>
        <th>Капитан</th>
        <th>Телефон</th>
        <th>№</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${organizations.isEmpty()}">
        <td colspan="2"> Организации отсутсвуют</td>
    </tr>
    <tr th:each="organization : ${organizations} ">
        <td><span th:text="${organization.name}"></span></td>
        <td><span th:text="${organization.captain}"></span></td>
        <td><span th:text="${organization.phone}"></span></td>
        <td><span th:text="${organization.number}"></span></td>
    </tr>
    </tbody>
</table>

<button name="removeRow" type="submit" value="1">На главную</button>
<button name="removeRow" type="submit" value="3">Загрузить данные из файла</button>

</body>
</html>