<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Стартовый протокол участников</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>Стартовый протокол</p>

<p>Кол-во:
    <span th:text="${runners.size()}"> </span>
</p>

<table th:border="1">
    <thead>
    <tr>
        <th>Подразделение</th>
        <th>ФИО</th>
        <th>Номер (нагрудный)</th>
        <th>Старт</th>
        <th>Финиш</th>
        <th>Итоговое время</th>
        <th>Не найдено КП</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${runners.isEmpty()}">
        <td colspan="2">Список участников спортивного ориентирования не сформирован</td>
    </tr>
    <tr th:each="runner : ${runners} ">
        <td><span th:text="${runner.subdivision}"></span></td>
        <td><span th:text="${runner.participant}"></span></td>
        <td><span th:text="${runner.number}"></span></td>
        <td><span th:text="${runner.start}"></span></td>
        <td><span th:text="${runner.finish}"></span></td>
        <td><span th:text="${runner.total}"></span></td>
        <td><span th:text="${runner.kp}"></span></td>
    </tr>
    </tbody>
</table>


<a th:href="@{/}">
    <button type="button">На главную</button>
</a>

</body>
</html>